@charset "utf-8";
/* CSS Document */



/*右侧内容*/
.ricz{ width:781px; float:right;}
.tp{ background:url(../images/glxc.png) no-repeat 0 2px; padding-left:120px;margin-bottom:5px; height:36px; line-height:18px;}
p.xlj{ font-weight:bold;}
p.xlj span{ margin:0 5px;}
.xm,.tpnrd{ overflow:hidden; zoom:1;}

.xcfl ul li{ float:left;}
.sd01 a.o,.sd02 a.o,.sd01 a.t,.sd02 a.t{text-indent:-9999px; display:block; float:left;}
.sd01 a.o{ background:url(../images/glxch.png) no-repeat 0 0; width:141px; height:24px;}
.sd02 a.o{ background:url(../images/glxcd.png) no-repeat 0 0; width:141px; height:24px;}
.sd01 a.t{ background:url(../images/bjxc.png) no-repeat 0 0; width:160px; height:24px;}
.sd02 a.t{ background:url(../images/bjxch.png) no-repeat 0 0; width:160px; height:24px;}

.leqy{ width:520px; float:left;}
.xcnr{border:1px solid #ababab; background-color:#FFF; padding:10px;}
.fm{ background:url(../images/fmbg.gif) no-repeat 0 0; width:83px; height:88px; padding:7px 0 0 8px; margin-bottom:10px;}
.leim{ width:91px; float:left; padding-top:10px;}
.txt{ width:397px; height:27px; line-height:27px; border:1px solid #989590; padding-left:5px; font-size:14px; margin-bottom:8px;}
textarea{ height:54px; width:392px; padding:5px; border:1px solid #989590; margin-bottom:10px;}
.syr{ width:102px; height:17px; line-height:17px;}
.ritx{ width:404px; float:right;}
p.qtczd { margin-top:10px;}
p.qtczd span{ margin:0 5px;}
.hidden{ display:none;}

.riqy{ width:170px; float:right;} 
.riqy p{ margin-bottom:8px;}
p.bmd{ border-bottom:1px dotted #CCC; margin-bottom:30px;}
.bd{ font-weight:bold;}
.zyts{ color:#7d4001; background-color:#f7ffd3; height:24px; padding-left:5px; border:1px dashed #f1d476; margin:15px 0;}
.xcd li{ background:url(../images/bjcbg.gif) no-repeat 0 0; width:87px; height:92px; text-align:center; padding-top:6px; line-height:20px; float:left; margin-right:10px;}

#nr01 h3{ border-bottom:1px dashed #b8b8b8; font-size:14px; padding-bottom:5px;}
.xm{ margin:10px 0 20px 0;} 
.xm span{ width:60px; float:left; color:#6a6a6a;}
.xctx{ border:1px solid #6a6a6a; width:132px; padding:0 3px;}
p.tsd{ color:#a6a6a6;}
.dgtp{ width:340px; float:left; margin-bottom:10px;}
.xx{ width:20px; height:20px; float:left; margin-top:40px;}
.ftp{ width:100px; float:left; text-align:center;}
.mar{ margin-right:30px;}
textarea{ border:1px solid #dedede; padding:3px; width:202px; height:52px; margin:20px 0 0 5px;}
.czan{ margin-top:20px;}
.sc,.ydd{ background:url(../images/xsc.gif) no-repeat 0 0; width:58px; height:23px; border:none; cursor:pointer; margin-right:10px;}
.ydd{ background:url(../images/ydd.gif) no-repeat 0 0;}

.qrxg{ text-align:center; margin:20px 0 10px 0;}
.xg{ background:url(../images/qrxg.gif) no-repeat 0 0; width:110px; height:31px; border:none; cursor:pointer;}
.page{ height:24px; text-align:center; font-family:Arial; padding-top:10px;}
.page a,.page span{ margin-right:10px;}
span.dqa{ font-weight:bold; color:#df4a47;}