@charset "utf-8";
/* CSS Document */
dl,.cono{ overflow:hidden; zoom:1;} 
.cono{ width:950px; margin:0 auto;}
.heder{ height:154px; width:100%; background:url(../../gc/images/hebg.gif) repeat-x 0 0;}
.henr{ width:950px; margin:0 auto; position:relative;}
.logo{ position:absolute; left:0; top:45px;}
a{ color:#000;}
.menu{ background:url(../../images/imenu.png) no-repeat 0 0; width:491px; height:30px; position:absolute; left:460px; top:60px; padding-top:5px; padding-left:15px;}
.menu ul li{ width:93px; height:28px; float:left; margin-left:18px;}
.mime{ background:url(../../images/mimen.png) no-repeat 0 0; width:344px; height:26px; position:absolute; left:550px; top:95px;}
.mime ul li{ font-size:12px;font-family:"微软雅黑","宋体"; float:left; margin-left:50px; display:inline;}
.mime ul li a{ color:#FFF;}

.main{ background:url(../../qz/images/qzbg.gif) no-repeat 0 0; width:1450px;position:absolute; left:50%; margin-left:-725px; height:895px;}
.content{ width:950px; margin:0 auto; padding-top:5px;}
.gg{ margin-bottom:5px;}

.leno{ width:715px;  float:left;}
.hidden{ display:none;}
.fl ul li{ float:left;}
.sdd01 a.o,.sdd02 a.o,.sdd01 a.f,.sdd02 a.f,.sdd01 a.t,.sdd02 a.t{text-indent:-9999px; width:239px; height:24px; display:block; float:left;}
.sdd01 a.o{ background:url(../images/zzh.png) no-repeat 0 0; }
.sdd02 a.o{ background:url(../images/zz.png) no-repeat 0 0;}
.sdd01 a.f{ background:url(../images/cjh.png) no-repeat 0 0; }
.sdd02 a.f{ background:url(../images/cj.png) no-repeat 0 0;}
.sdd01 a.t{ background:url(../images/gwh.png) no-repeat 0 0; width:237px;}
.sdd02 a.t{ background:url(../images/gw.png) no-repeat 0 0;width:237px;}
.nr{ height:445px; width:691px; background-color:#FFF; border:1px solid #a6a6a6; padding:11px; overflow:hidden;}
.sj,.bt a{ color:#ef504c;}
.bt{ margin-bottom:5px;}
.bt a{ font-size:18px; font-family:"黑体","宋体";}
.ss{ background:url(../images/ssbg.gif) no-repeat 0 0; width:527px; height:34px; padding-left:188px; padding-top:5px; margin-top:5px;}
.txt{ width:321px; height:23px; border:1px solid #a0a0a0; background-color:#e9e9e9; margin-right:10px; line-height:23px; padding-left:5px;}
.set{ background:url(../images/ser.gif) no-repeat 0 0; width:87px; height:26px; border:none;margin-right:10px;}
.gyg{ background:url(../images/gyg.gif) no-repeat 0 0; width:87px; height:26px; border:none;}

.rino{ width:230px; float:right;}
.hddr{ width:208px; height:87px; background-color:#ef504c; border:1px solid #a0a0a0; padding:10px; position:relative; margin-bottom:5px;}
.hddr h4{ font-size:14px; color:#FFF; font-family:Arial; border-bottom:1px solid #FFF;}
.hddr img{ position:absolute; top:50px; left:10px;}
.drxx{ font-family:Arial; color:#FFF; text-align:right;position:absolute; top:60px; right:10px; line-height:20px;}
.drxx a{ font-weight:bold; color:#FFF;}

.cjhd{ width:218px; height:401px; background-color:#FFF; border:1px solid #a0a0a0; padding:10px;}
.cjhd h4{ font-size:14px; font-family:Arial; border-bottom:1px solid #898989;}
.cjhd h4 span{ color:#ef504c; margin-right:5px; padding-bottom:5px;}
.cjhd ul li{ height:42px; margin-top:17px;}
dt{ width:42px; float:left;}
dd{ width:140px; float:right; font-family:Arial;}
dd a{color:#ef504c;}


.tznr{ margin:15px 0;overflow:hidden; zoom:1}
.zzxx{ width:61px; float:left;}
.zzxx p{ line-height:20px; color:#0068b7;}
.nrxx{ width:670px; float:right;}
h2{ font-size:14px; margin-bottom:25px;}
.nrxx p a{ color:#0068b7;}
.zz{ margin-bottom:25px; height:26px; line-height:26px; background-color:#f0efec; padding-left:10px; position:relative;}
p.hf{ color:#898989; text-align:right;}
p.hf a{ color:#898989;}
.zz b{ margin-right:10px;}
.zz span{ position:absolute; right:10px; top:0;} 
p.hf span{ margin:0 5px;}
