span,td,th,table,fieldset,form,pre,blockquote,p,dl,dt,dd,li,ul,h1,h2,h3,h4,h5,h6,div,body,html,img,input{ margin:0; padding:0;}
body,html{ overflow-x:hidden;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
ul,li{ list-style:none;}
img{ border:none;}
body{ font-family:"宋体","Arial Narrow";font-size:12px;color:#333;font-size:12px; line-height:24px;}
.top{ background:url(../images/tops.png) repeat-x 0 0;height:37px; position:absolute; top:0; left:0; width:100%; z-index:999;}
.topnav{ width:950px; margin:0 auto; line-height:34px; position:relative; font-family:"微软雅黑","宋体";}
.top p a{ color:#FFF; margin-left:15px;}
.top p{ color:#FFF;}
.top p.rini a{ margin-left:10px;}
.top p.rini{ position:absolute; right:0; top:0;}

/*.foot{ background:url(../images/db.png) no-repeat 0 0;position:absolute; left:50%; margin-left:-725px;height:214px; width:1450px;}*/
.foot{ background:url(../images/db.png) no-repeat 0 0;height:214px; width:1450px; margin:0 auto;}
.ftnr{ width:950px; margin:0 auto; text-align:center; color:#ef504c;font-family:"微软雅黑","宋体"; font-weight:bold; padding-top:25px;}
.ftnr p.minav{ margin-bottom:5px;}
.ftnr span{ margin:0 10px;}
.ftnr a{color:#ef504c;}

/*top*/
.nleni ul li{ float:left;margin-right:15px;}
.nleni ul li a{ color:#FFF; }
.nleni a{ font-family:"微软雅黑","宋体";}
.nleni ul li p.qtdj a{ color:#000; font-family:"宋体";}

.menud{background:url(../images/xlq.png) no-repeat right 0; height:34px; padding-right:20px; display:block; float:left; padding-left:10px; position:relative; font-family:"宋体";}
.menu-bd-panel{ width:170px; height:168px; border:1px solid #a0a0a0; display:none; background-color:#fff; position:absolute; left:0px; top:28px;} 
p.qtdj{ background:url(../images/xdbg.gif) no-repeat 0 0; width:170px; height:21px; line-height:21px; text-align:center; font-size:14px; font-weight:bold;}
.jdjs{ padding:10px 5px; height:64px;}
.imjs{ width:61px; height:61px; float:left;}
.txjsd{ width:85px; float:right;}
.txjsd p{ color:#000; line-height:18px;}
.txjsd p.tmz{ font-size:14px; font-weight:bold; margin-bottom:8px;}
a.menu-hd{ color:#FFF;}
.menu-bd-pane2{ width:118px; height:133px;border:1px solid #a0a0a0; background-color:#fff; position:absolute; left:0px; top:28px; padding:5px 0 0 10px; display:none;}
.menu-bd-pane2 p{ background:url(../images/xli.gif) no-repeat 0 6px; padding-left:15px;}
.menu-bd-pane2 p.ts a{margin:0; line-height:22px; height:22px; font-family:"宋体"; color:#000;}
.menud:hover .menu-bd-panel,.menud:hover .menu-bd-pane2{ display:block;}
.menud:hover{background:url(../images/xlbg.png) no-repeat right 0;}
