@charset "utf-8";
/* CSS Document */

body{font-family:"宋体";}
.cono,.tjnr ul li,.cotw,.one,.rio,.ph dt,.ph dd,.rido,.ph li,.cono,.coth,.qhcs,.tcnr ul li,.cofo,.qsxq{ overflow:hidden; zoom:1;}
.heder{ height:154px; width:100%; background:url(../images/hebg.gif) repeat-x 0 0;}
.henr{ width:950px; margin:0 auto; position:relative;}
.logo{ position:absolute; left:0; top:45px;}
a{ color:#000;}
.menu{ background:url(../../images/imenu.png) no-repeat 0 0; width:491px; height:30px; position:absolute; left:460px; top:60px; padding-top:5px; padding-left:15px;}
.menu ul li{ width:93px; height:28px; float:left; margin-left:18px;}
.mime{ background:url(../../images/mimen.png) no-repeat 0 0; width:344px; height:26px; position:absolute; left:550px; top:95px;}
.mime ul li{ font-size:12px;font-family:"微软雅黑","宋体"; float:left; margin-left:50px; display:inline;}
.mime ul li a{ color:#FFF;}

.main{ background:url(../images/qzbg.gif) no-repeat 0 0; width:1450px;position:absolute; left:50%; margin-left:-725px; height:1260px; padding-top:5px;}

.content{ width:950px; margin:0 auto;}
.content h3{ background:url(../images/mxqsq.png) no-repeat 0 0; width:950px; height:24px; text-indent:-9999px;}
.qsnr{ border:1px solid #a0a0a0; background-color:#FFF; padding:10px 15px;}
.red{ color:#e24b48; font-weight:bold; line-height:26px;}
.qzfl{ line-height:26px;}
.qzfl span{ margin:0 6px;}
a.jc{ font-weight:bold;}
a.jc:hover{ text-decoration:none;}
.bm{ border-bottom:1px dashed #CCC; padding-bottom:5px;}
.qsxq{ padding-top:20px;}
.marg{ background:url(../images/redd.gif) no-repeat 2px 0; width:140px; height:224px; padding-top:8px; float:left; margin-right:15px; margin-bottom:20px;}
.marg p{ width:104px; margin:0 auto; line-height:20px;}
.jc{ font-weight:bold;}
.marg p img{ margin-bottom:5px;}
.ms{ padding-bottom:5px;}
.gz{ text-align:center;}
.marg:hover{ background:url(../images/qsnrbg.gif) no-repeat 0 0;}
.nm{ margin:0;}

.page{ text-align:center; margin:20px 0 10px; font-family:Arial;}
.page a{ font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}
.page span{ font-size:14px; font-weight:bold;}

.txt{ width:26px; height:22px; border:1px solid #c6c6c6; line-height:22px;}
.btn{ background:url(../images/xyy.gif) no-repeat 0 0; width:56px; height:24px; cursor:pointer; border:none;}
.js{font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}