@charset "utf-8";
/* CSS Document */


.qxq,.qjj,.qztp,.qzcy ul,.tyxh ul li,.cylb ul li,.cylb,.szxq ul li{ overflow:hidden; zoom:1;}
.main{ background:url(../images/qzbg.gif) no-repeat 0 30px; width:1450px;position:absolute; left:50%; margin-left:-725px;padding-top:40px;}
.content{ width:955px; margin:0 auto; position:relative;}
.dtx{ position:absolute; border:1px solid #a6a6a6;  top:50px; right:60px;}
.topd{ background:url(../images/qzejh.png) no-repeat 0 0; width:940px; height:90px; padding:20px 0 0 15px;}
.tx{ width:70px; float:left; margin-right:20px;}
.topd img{ border:1px solid #a6a6a6;}
h1{ width:600px; float:left; color:#FFF; font-size:36px; line-height:36px; padding-top:30px;}
a{ color:#000;}
/*群详情*/
.qxq{ background-color:#FFF;border:1px solid #a6a6a6; padding:7px; margin-top:8px;}
.lexq{ width:660px; float:left;}
.qjj{ background:url(../images/qjjbg.gif) no-repeat 0 0; width:644px; height:122px; padding:8px;}
.jjtx{ width:540px; float:left;}
.jjtx p{ margin-bottom:20px; line-height:20px;}
.jjcz{ width:100px; height:120px; position:relative; float:right;}
a.mgt{ position:absolute; right:0; bottom:0;}

.qzxq{ width:646px; margin:0 auto; padding-top:10px;}
.qztp a{ width:80px; height:80px; display:block; background-color:#f0efec; border:1px solid #f0efec; float:left; margin-right:8px;}
.tzbt{ font-weight:bold; position:relative; height:24px; padding:10px 0; border-bottom:1px dotted #CCC;}
.tzbt span{ margin:0 5px;}
a.dq{ color:#db4946;}
.tzbt span.glzq{ position:absolute; right:0; top:10px;}
.zjht{position:relative; height:24px; padding:10px 0;}
.zjht a{position:absolute; right:0; top:10px;}
.flt{ font-weight:bold;}
td{ border-bottom:1px dotted #CCC; line-height:26px;}
.more{ text-align:right; border:none;}
.more td{ border:none;}

form{ margin:15px 0 5px 0;}
.txt{ width:284px; height:23px; background-color:#e9e9e9; border:1px solid #a0a0a0; margin-right:20px;}
.btn{ background:url(../images/ss.gif) no-repeat 0 0; width:87px; height:26px; border:none; cursor:pointer;}


.rixq{ width:230px;float:right; margin-right:2px;}
.ycjj{ padding-top:125px; line-height:20px; width:184px; height:90px;}
.rixq h4{ font-size:14px; font-weight:normal; margin-bottom:10px;}
.qzcy ul { margin-bottom:30px; }
.qzcy ul li{ width:48px; height:48px; float:left; margin:0 18px 18px 0;}
.tyxh ul{padding-top:10px;}
.tyxh ul li{ margin-bottom:20px;}
.tyxh ul li dt{ width:100px; float:left; margin-right:8px;}
.tyxh ul li dd{ position:relative; float:left; width:120px; height:100px;}
.tyxh ul li p{ position:absolute; bottom:0; left:0;}
.tyxh ul li p a{ font-size:14px;}
.tyxh ul li p span{ color:#6f6f6f;}


.xgg{ margin-bottom:8px;}
a.gray{ color:#898989; font-weight:normal;}
.cy{ font-size:16px; color:#db4946; font-weight:bold; line-height:30px; margin-bottom:10px;}
.txim{ background:url(../images/qztxbg.gif) no-repeat 0 0; width:59px; height:59px; padding:5px; float:left;}
.cytx{ width:70px; float:left; margin-left:5px;}
.ygz,.wgz{ background:url(../images/ygzd.gif) no-repeat 0 5px; padding-left:12px; font-weight:bold;}
.cylb ul li{ margin-bottom:40px;}
.wgz{ background:url(../images/wgz.gif) no-repeat 0 5px;}
.cylb ul{ float:left; width:170px;}
.cylb ul.brd{ padding-left:10px; margin-left:50px; border-left:1px dotted #CCC;}

.paged{ height:24px; text-align:center; margin:100px 0 20px 0;}
.paged a,.paged span{ margin-right:10px;}
.szxq ul li{ margin-bottom:20px;}
.szxq ul li b{ width:90px; float:left; font-size:16px; display:block;} 
.rt{ width:300px; float:left;}
.sztx{ width:290px; height:24px; line-height:24px; padding:0 3px; border:1px solid #bcbcbc;}
textarea{ width:410px; height:147px; border:1px solid #d8d7d4; padding:3px;}