@charset "utf-8";
/* CSS Document */

body{font-family:"宋体";}
.cono,.tjnr ul li,.cotw,.one,.rio,.ph dt,.ph dd,.rido,.ph li,.cono,.coth,.qhcs,.tcnr ul li,.cofo,.qsxq,.dgxq,.px,.lexq{ overflow:hidden; zoom:1;}
.heder{ height:154px; width:100%; background:url(../images/hebg.gif) repeat-x 0 0;}
.henr{ width:950px; margin:0 auto; position:relative;}
.logo{ position:absolute; left:0; top:45px;}
a{ color:#000;}
.menu{ background:url(../../images/imenu.png) no-repeat 0 0; width:491px; height:30px; position:absolute; left:460px; top:60px; padding-top:5px; padding-left:15px;}
.menu ul li{ width:93px; height:28px; float:left; margin-left:18px;}
.mime{ background:url(../../images/mimen.png) no-repeat 0 0; width:344px; height:26px; position:absolute; left:550px; top:95px;}
.mime ul li{ font-size:12px;font-family:"微软雅黑","宋体"; float:left; margin-left:50px; display:inline;}
.mime ul li a{ color:#FFF;}

.main{ background:url(../images/qzbg.gif) no-repeat 0 0; width:1450px;position:absolute; left:50%; margin-left:-725px; height:1260px; padding-top:5px;}

.content{ width:918px; margin:0 auto; background-color:#FFF; border:1px solid #a0a0a0; padding:20px 15px 15px; height:943px;}
.lenr{ width:650px; float:left;}
p.bq{ height:24px; position:relative; border-bottom:1px dashed #CCC; padding-bottom:10px;}
.red{ color:#e24b48;}
p.bq a{ position:absolute; right:0px; top:0px;color:#e24b48; font-weight:bold;}
.fl{ line-height:26px; padding-top:10px;}
.fl span{ margin:0 8px;}
a.dq{ font-weight:bold; text-decoration:none;}
.px a{ background:url(../images/pxqbg.gif) no-repeat 0 0; width:67px; height:24px; display:block; float:left; padding-left:6px;} 
.px a.dqpx{ background:url(../images/pxhbg.gif) no-repeat 0 0;}
.px span{ width:60px; float:left;}

.lexqd{ padding-top:60px;}
.px{ margin-bottom:20px;}
.lexq{ width:540px; float:left; border-bottom:1px dotted #CCC; padding-bottom:10px; padding-top:10px;}
.leim{ width:50px; float:left; padding-top:3px;}
.ritx{ width:470px; float:right; font-family:Arial; line-height:18px;}
p.mz a{ font-size:14px; color:#0095cd; font-weight:bold; }
.hs{color:#999;}
.ritx p b{ font-weight:normal; color:#0095cd;}
.qfl a{color:#0095cd;}
.qfl span{ margin:0 5px;}
.qbq{ margin-top:8px;}
.qbq a{ color:#a6c3cf; margin-right:8px;}
.rixq{ width:43px; float:right;}

.page{ text-align:center; margin:20px 0 10px; font-family:Arial;}
.page a{ font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}
.page span{ font-size:14px; font-weight:bold;}
.txt{ width:26px; height:22px; border:1px solid #c6c6c6; line-height:22px;}
.btn{ background:url(../images/xyy.gif) no-repeat 0 0; width:56px; height:24px; cursor:pointer; border:none;}
.js{font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}

.rinr{ width:200px; float:right;}
.mzd{ font-size:16px; margin-top:5px; font-weight:bold;}