@charset "utf-8";
/* CSS Document */



/*右侧内容*/
.ricz{ width:781px; float:right;}
.ricz{ width:781px; float:right;}
.ss{ margin-bottom:5px;}
.hdd{ width:200px; float:left; line-height:14px; font-weight:bold; background:url(../images/tp.png) no-repeat 0 0; height:32px; padding-left:70px;}
.ss form{ width:250px; float:right; text-align:right;}
.txt{ width:171px; height:23px; border:1px solid #a0a0a0; background-color:#e9e9e9; padding-left:5px; line-height:23px;}
.btn{ background:url(../images/ssrz.png) no-repeat 0 0; width:58px; height:24px; border:none; cursor:pointer;}
.dgtp{ overflow:hidden; zoom:1;}
.hdfl{ height:24px; width:781px; position:relative;}
a.fqhd{ position:absolute; right:0; top:0;}
.hdfl ul li{ float:left;}
.sdd01 a.o,.sdd02 a.o,.sdd01 a.f,.sdd02 a.f,.sdd01 a.t,.sdd02 a.t,.sdd01 a.s,.sdd02 a.s,.sdd01 a.e,.sdd02 a.e{text-indent:-9999px; display:block; float:left;}
.sdd01 a.o{ background:url(../images/t02.png) no-repeat 0 0; width:141px; height:24px;}
.sdd02 a.o{ background:url(../images/t01.png) no-repeat 0 0; width:141px; height:24px;}
.sdd01 a.t{ background:url(../images/t04.png) no-repeat 0 0; width:139px; height:24px;}
.sdd02 a.t{ background:url(../images/t03.png) no-repeat 0 0; width:139px; height:24px;}
.sdd01 a.f{ background:url(../images/t06.png) no-repeat 0 0; width:139px; height:24px;}
.sdd02 a.f{ background:url(../images/t05.png) no-repeat 0 0; width:139px; height:24px;}
.sdd01 a.s{ background:url(../images/t08.png) no-repeat 0 0; width:139px; height:24px;}
.sdd02 a.s{ background:url(../images/t07.png) no-repeat 0 0; width:139px; height:24px;}
.sdd01 a.e{ background:url(../images/t09.png) no-repeat 0 0; width:141px; height:24px;}
.sdd02 a.e{ background:url(../images/t10.png) no-repeat 0 0; width:141px; height:24px;}
.hdnr{border:1px solid #ababab; background-color:#FFF; padding:10px;}
p.lx{ border-bottom:1px dashed #CCC; width:700px; margin-bottom:10px;}
p.lx a.dqd{ font-weight:bold;}
p.lx span{ margin:0 5px;}
.dgtp{ width:700px;}
.tptx{ width:54px; float:left; margin-right:20px;}
.tpxq{ width:400px; float:left;}
p.jf{ background:url(../images/jf.gif) no-repeat 0 6px; padding-left:20px; font-size:14px;}
p.jf span{ font-weight:bold; margin-left:15px;}
.tprs{ width:60px; float:right;}
.tps{ background:url(../images/rcy.gif) no-repeat 0 0; padding-top:15px; height:45px; width:60px; text-align:center; font-size:14px; color:#395b9a; font-weight:bold; margin-bottom:5px;}
