@charset "utf-8";
/* CSS Document */

body{font-family:"宋体";}
.heder{ height:154px; width:100%; background:url(../images/hebg.gif) repeat-x 0 0;}
.henr{ width:950px; margin:0 auto; position:relative;}
.logo{ position:absolute; left:0; top:45px;}
a{ color:#000;}
.menu{ background:url(../../images/imenu.png) no-repeat 0 0; width:491px; height:30px; position:absolute; left:460px; top:60px; padding-top:5px; padding-left:15px;}
.menu ul li{ width:93px; height:28px; float:left; margin-left:18px;}
.mime{ background:url(../../images/mimen.png) no-repeat 0 0; width:344px; height:26px; position:absolute; left:550px; top:95px;}
.mime ul li{ font-size:12px;font-family:"微软雅黑","宋体"; float:left; margin-left:50px; display:inline;}
.mime ul li a{ color:#FFF;}

.main{ background:url(../images/xwbg.gif) no-repeat 0 0; width:1450px;position:absolute; left:50%; margin-left:-725px; height:2145px; padding-top:5px;}
.content{ width:950px; margin:0 auto;}

.qttj,.tznr,.pj,.content{ overflow:hidden; zoom:1;}
.content{ padding-bottom:60px;}
.leno{ width:654px; float:left; background-color:#fff; border:1px solid #a0a0a0; padding:15px;}
p.dq span{ margin:0 5px;}
p.dq{ border-bottom:1px dotted #CCC; padding-bottom:5px;}
.zwnr h1{ font-size:18px; text-align:center; margin:10px 0;} 
p.qx{ text-align:center; margin-bottom:20px;}

.im{ text-align:center;margin-bottom:20px;}
.strong{ font-weight:bold;}
.zwxq{ font-size:14px; line-height:22px;}
.zwnr{ height:900px; overflow:hidden;}
.page{ text-align:center; margin:20px 0 10px; font-family:Arial;}
.page a{ font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}
.page span{ font-size:14px; font-weight:bold;}

.txt{ width:26px; height:22px; border:1px solid #c6c6c6; line-height:22px;}
.btn{ background:url(../images/xyy.gif) no-repeat 0 0; width:56px; height:24px; cursor:pointer; border:none;}
.js{font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}

p.xg{ padding:10px; font-size:14px; border-bottom:1px dotted #CCC;}
p.xg a{ margin-right:15px; color:#0026a8;}
.qttj p.xgxw{ font-size:14px;color:#0026a8; font-weight:bold; padding-left:5px; margin:10px 0;}
.qttj ul{ padding-left:15px; width:305px; float:left;}
.qttj ul li{font-size:14px; line-height:22px; background:url(../images/xglibg.gif) no-repeat 0 7px; padding-left:10px;}
.qttj ul li a{color:#0026a8;}
p.pjbt{ font-size:14px;color:#0026a8; font-weight:bold; padding:10px 0 10px 5px; border-top:1px dotted #CCC;}

.tznr{ margin-bottom:50px;}
.zzxx{ width:61px; float:left;}
.zzxx p{ line-height:20px; color:#0068b7;}
h2{ font-size:14px; margin-bottom:25px;}
.nrxx p a{ color:#0068b7;}
.zz{ margin-bottom:25px;}
p.hf{ color:#898989; text-align:right;}
p.hf a{ color:#898989;}
p.hf span{ margin:0 5px;}
.fx{ height:24px; position:relative;}
.fx a{ display:block; float:left; color:#0068b7; margin-right:20px;}  
.fx .hf{ position:absolute; right:0px; top:0; margin:0;}
.hfd{ width:640px; float:right; }
.hfxq{ width:550px; float:right;}
.hfxq p{padding-left:8px;}
.hfxq p.zz{ background-color:#f0efec;  position:relative; height:24px; margin-bottom:5px;}
.hfxq p.zz span{ position:absolute; right:8px; top:0;}
.hfxq p.zz b{ margin-right:5px;}
.hfd{ margin-bottom:20px;}
.hfk{ padding-left:8px; padding-right:20px;}
textarea{ width:620px; border:1px solid #ccc; height:120px; padding:5px;}
.ru{ text-align:right;}
.hfbtn{ background:url(../images/hf.gif) no-repeat 0 0; width:34px; height:24px; border:none; margin-top:10px; margin-bottom:10px; cursor:pointer;}

.rino{ width:258px; float:right;}
.rino h4{ background:url(../images/rd.png) no-repeat 0 0; width:247px; text-align:right; padding-right:11px;}
.rino h4 a{ font-size:14px; color:#FFF; font-weight:normal;}
.rd ul,.rmxc ul{ padding:10px; background-color:#FFF; border:1px solid #a0a0a0; margin-bottom:5px;}
.rd ul li span{ background:url(../images/bgd.gif) no-repeat 0 0; width:19px; height:20px; display:block; float:left; color:#FFF; text-align:center; line-height:20px; margin-right:5px;}
.rd ul li{ line-height:20px; margin-bottom:5px;}

.xc{ background:url(../images/rmxc.png) no-repeat 0 0;}
.rmxc ul li{ width:218px; margin:0 auto; text-align:center; margin-bottom:10px;}
.gg{ margin-bottom:5px;}