@charset "utf-8";
/* CSS Document */

body{font-family:"宋体";}
.zrxx,.qzjj{ overflow:hidden; zoom:1;}
.heder{ height:154px; width:100%; background:url(../images/hebg.gif) repeat-x 0 0;}
.henr{ width:950px; margin:0 auto; position:relative;}
.logo{ position:absolute; left:0; top:45px;}
a{ color:#000;}
.menu{ background:url(../../images/imenu.png) no-repeat 0 0; width:491px; height:30px; position:absolute; left:460px; top:60px; padding-top:5px; padding-left:15px;}
.menu ul li{ width:93px; height:28px; float:left; margin-left:18px;}
.mime{ background:url(../../images/mimen.png) no-repeat 0 0; width:344px; height:26px; position:absolute; left:550px; top:95px;}
.mime ul li{ font-size:12px;font-family:"微软雅黑","宋体"; float:left; margin-left:50px; display:inline;}
.mime ul li a{ color:#FFF;}

.main{ background:url(../images/qzbg.gif) no-repeat 0 0; width:1450px;position:absolute; left:50%; margin-left:-725px; height:1015px; padding-top:5px;}
.content{ width:888px; height:710px; border:1px solid #a0a0a0; background-color:#FFF; margin:5px auto 0; padding:30px;}
.letx{ width:100px; height:100px; float:left;}
p.mz{ font-size:16px; font-weight:bold;}
p.zy{ margin-top:30px;}
p.zy a{ font-size:14px; font-weight:bold; color:#e24b48;}
.ritx{ width:500px; float:left; margin-left:20px;}
h5{ font-size:14px; margin:20px 0;}
.qzjj{ margin-bottom:10px;}
.qztx{ width:50px; float:left;}
.qzmz{ width:115px; float:left; margin-left:8px; line-height:18px; color:#b3b3b3;}
.qzmz a,.red td{ font-size:14px; color:#e24b48;}
table{ text-align:center;}
.qznr ul li{ width:176px; height:110px; border:1px solid #a0a0a0; padding:10px; float:left; margin-right:30px; display:inline; margin-bottom:30px;}
.qznr ul li.nm{ margin-right:0px;}

.page{ text-align:center; margin:20px 0 10px; font-family:Arial;}
.page a{ font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}
.page span{ font-size:14px; font-weight:bold;}

.txt{ width:26px; height:22px; border:1px solid #c6c6c6; line-height:22px;}
.btn{ background:url(../images/xyy.gif) no-repeat 0 0; width:56px; height:24px; cursor:pointer; border:none;}
.js{font-size:14px; font-weight:bold; color:#e24b48; margin-left:10px;}