<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template common_header}-->
<link rel="stylesheet" type="text/css" href="{$_USER_SC['domain']}css/login.css" />

<div class="main">
    <div class="content">
        <ul class="xx">
            <li><a href="<!--{eval echo usr_url('do', array('ac'=>$_SCONFIG['register_action']))}-->"><img src="<?=$_USER_SC['domain']?>images/yhzc.png" /></a></li>
            <li><a href="<!--{eval echo usr_url('do', array('ac'=>$_SCONFIG['login_action']))}-->"><img src="<?=$_USER_SC['domain']?>images/yhdl.png" /></a></li>
            <li><a href="<!--{eval echo usr_url('do', array('ac'=>'lostpasswd'))}-->"><img src="<?=$_USER_SC['domain']?>images/wjmm.png" /></a></li>
        </ul>
        <div class="zcnr">
            <div class="zcxq">
                <form id="loginform" name="loginform" action="<!--{eval echo usr_url('do', array('ac'=>$_SCONFIG[login_action], $url_plus, 'ref'))}-->$url_plus" method="post" class="c_form">
                <!--{if $invitearr}-->
            <a href="<!--{eval echo usr_url('space', $url_plus)}-->" target="_blank"><!--{avatar($invitearr[uid],small)}--></a>
            <a href="<!--{eval echo usr_url('space', $url_plus)}-->" target="_blank">{$_SN[$invitearr[uid]]}</a>
                <!--{/if}-->
    <!--{if $_SCONFIG['seccode_login']}-->
    <!--{if $_SCONFIG['questionmode']}-->
            请先回答问题
            <p><!--{eval question();}--></p>
            <input type="text" id="seccode" name="seccode" value="" tabindex="1" class="t_input"<!--{if empty($_SGLOBAL['input_seccode'])}--> onBlur="checkSeccode()"<!--{/if}--> />&nbsp;<span id="checkseccode">&nbsp;</span>
    <!--{else}-->
        验证码
            <script>seccode();</script>
            <p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>
            <input type="text" id="seccode" name="seccode" value="" tabindex="1" class="t_input"<!--{if empty($_SGLOBAL['input_seccode'])}--> onBlur="checkSeccode()"<!--{/if}--> />&nbsp;<span id="checkseccode">&nbsp;</span>
    <!--{/if}-->
    <!--{/if}-->
    <ul><!--{if $_SGLOBAL['input_seccode']}-->
        <!--{else}-->
        <li><b>用户名</b><div class="rizc"><input class="tx" type="text" name="username" /><p></p></div></li>
        <li><b>密　码</b><div class="rizc"><input class="tx" type="password" name="password" tabindex="3" /><p></p></div></li>
        <li><b>自动登录</b><div class="rizc" style="line-height:22px;"><input type="checkbox" id="cookietime" name="cookietime" value="315360000" $cookiecheck style="margin-bottom: -2px;"><p></p></div></li>
        <input type="hidden" name="refer" value="$refer" />
        <li><b>&nbsp;</b><div class="rizc"><input type="submit" id="loginsubmit" name="loginsubmit" value="登录" class="submit" tabindex="5" /><p></p></div></li>
        <!--{/if}-->
    </ul>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
<script type="text/javascript">
    var lastSecCode = '';
    function checkSeccode() {
        var seccodeVerify = _$('seccode').value;
        if(seccodeVerify == lastSecCode) {
            return;
        } else {
            lastSecCode = seccodeVerify;
        }
        ajaxresponse('checkseccode', 'op=checkseccode&seccode=' + (is_ie && document.charset == 'utf-8' ? encodeURIComponent(seccodeVerify) : seccodeVerify));
    }
    function ajaxresponse(objname, data) {
        var x = new Ajax('XML', objname);
        x.get('<!--{eval echo usr_url('do', array('ac'=>$_SCONFIG[register_action]))}-->' + data, function(s){
            var obj = _$(objname);
            s = trim(s);
            if(s.indexOf('succeed') > -1) {
                obj.style.display = '';
                obj.innerHTML = '<img src="<?=$_USER_SC['domain']?>image/check_right.gif" width="13" height="13">';
                obj.className = "warning";
            } else {
                warning(obj, s);
            }
        });
    }
    function warning(obj, msg) {
        if((ton = obj.id.substr(5, obj.id.length)) != 'password2') {
            _$(ton).select();
        }
        obj.style.display = '';
        obj.innerHTML = '<img src="<?=$_USER_SC['domain']?>image/check_error.gif" width="13" height="13"> &nbsp; ' + msg;
        obj.className = "warning";
    }

</script>

<!--{if $_SGLOBAL['input_seccode']}-->
<script>
_$('seccode').style.background = '#FFFFCC';
_$('seccode').focus();
</script>
<!--{/if}-->

                </form>
            </div>
            <div class="ycnr">
                <h3>注册为会员的好处</h3>
                <p>1、建立个人作品集，得到更多网友和更多设计公司的关注。</p>
                <p>2、建立个人作品集，得到更多网友和更多设计公司的关注。</p>
                <p>3、建立个人作品集，得到更多网友和更多设计公司的关注。</p>
                <p>4、建立个人作品集，得到更多网友和更多设计公司的关注。</p>
            </div>
        </div>
    </div>
    <!--{template footer}-->
</div>
