<div class="header">
	<div class="henr">
		<div class="logo"><a href="<!--{eval echo usr_url('index')}-->"><img alt="狗咆" src="<?=$_USER_SC['domain']?>images/logo.png" /></a></div>
        <div class="menu">
        	<ul>
            	<li><a href="<!--{eval echo usr_url('index')}-->"><img alt="首页" src="<?=$_USER_SC['domain']?>images/home.gif" /></a></li>
                <li><a href="<!--{eval echo usr_url('index')}-->"><img alt="广场" src="<?=$_USER_SC['domain']?>images/gc.png" /></a></li>
                <li><a href="<!--{eval echo usr_url('index')}-->"><img alt="圈子" src="<?=$_USER_SC['domain']?>images/qz.png" /></a></li>
                <li><a href="<!--{eval echo usr_url('index')}-->"><img alt="活动" src="<?=$_USER_SC['domain']?>images/hd.png" /></a></li>
            </ul>
        </div>
    </div>
</div>
