<!--{template header}-->
<!--{if empty($_SGLOBAL['inajax'])}-->

<div class="main"<!--{if !$space[uid] || !$space[self]}--> style="padding-top:37px;"<!--{/if}-->>
<!--{if $_SGLOBAL['ad']['contenttop']}--><div id="ad_contenttop"><!--{ad/contenttop}--></div><!--{/if}-->
<link rel="stylesheet" type="text/css" href="{$_USER_SC['domain']}css/spbulic.css"/>
<!--{if $space[uid] && $space[self]}-->
<div class="head">
    <div class="grxx">
        <div class="legr">
            <div class="grtx"><!--{avatar($_SGLOBAL[supe_uid], '41x41')}-->"</div>
            <div class="grjj"><p class="mz">{$_SN[$_SGLOBAL[supe_uid]]}</p><p>ID:{$_SGLOBAL[supe_uid]}</p></div>
        </div>
        <div class="rigr">
            <div class="zbkj"><a href="<!--{eval echo usr_url('cp', array('ac'=>'theme'))}-->">装扮空间</a></div>
            <div class="qtcz"><a href="<!--{eval echo usr_url('cp', array('ac'=>'invite'))}-->">邀请好友</a><a href="<!--{eval echo usr_url('cp', array('ac'=>'task'))}-->">任务中心</a><a href="<!--{eval echo usr_url('cp', array('ac'=>'magic'))}-->">道具中心</a><a href="<!--{eval echo usr_url('cp', array('ac'=>'privacy'))}-->">隐私设置</a><a href="<!--{eval echo usr_url('cp')}-->">账号设置</a></div>
        </div>
    </div>
</div>
<!--{/if}-->
<div class="content">
    <!--左侧菜单-->
    <div class="lecd">
        <h3>个人主页</h3>
        <div class="cdnr">
            <ul>
                <p class="sy dq"><a href="<!--{eval echo usr_url('space', array('do'=>'home'))}-->">首页</a></p>
                <p class="xq"><a href="<!--{eval echo usr_url('space', array('do'=>'mood'))}-->">心情</a><span><a href="<!--{eval echo usr_url('cp', array('ac'=>'theme'))}-->#">发表</a></span></p>
                <p class="fx"><a href="<!--{eval echo usr_url('space', array('do'=>'share'))}-->">分享</a></p>
                    <ul class="xni">
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'share', 'view'=>'friend'))}-->">好友的分享</a></li>
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'share', 'view'=>'me'))}-->">我的分享</a></li>
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'share', 'view'=>'all'))}-->#">大家的分享</a></li>
                    </ul>
                <p class="rz"><a href="<!--{eval echo usr_url('space', array('do'=>'blog'))}-->">日志</a><span><a href="<!--{eval echo usr_url('cp', array('ac'=>'blog'))}-->">发布</a></span></p>
                    <ul class="xni">
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'blog', 'view'=>'friend'))}-->">好友的日志</a></li>
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'blog', 'view'=>'me'))}-->">我的日志</a></li>
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'blog', 'view'=>'all'))}-->">大家的日志</a></li>
                    </ul>
                <p class="xc"><a href="<!--{eval echo usr_url('space', array('do'=>'album'))}-->">相册</a><span><a href="<!--{eval echo usr_url('cp', array('ac'=>'upload'))}-->">上传</a></span></p>
                    <ul class="xni">
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'album', 'view'=>'friend'))}-->">好友的相册</a></li>
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'album', 'view'=>'me'))}-->">我的相册</a></li>
                        <li><a href="<!--{eval echo usr_url('space', array('do'=>'album', 'view'=>'all'))}-->">大家的相册</a></li>
                    </ul>
                <p class="zx"><a href="photoeditor.html">在线PS</a></p>
                <p class="lw"><a href="<!--{eval echo usr_url('gift')}-->">礼物</a></p>
                <p class="tp"><a href="<!--{eval echo usr_url('space', array('do'=>'poll'))}-->">投票</a></p>
                <p class="hd" style="float:none"><a href="<!--{eval echo usr_url('event')}-->">活动</a></p>
                <p class="hy"><a href="<!--{eval echo usr_url('space', array('do'=>'friend'))}-->">好友</a><span><a href="<!--{eval echo usr_url('cp', array('ac'=>'friend', 'op'=>'search'))}-->">查找</a></span></p>
                <p class="qz"><a href="<!--{eval echo usr_url('space', array('do'=>'mtag'))}-->">圈子</a><span><a href="<!--{eval echo usr_url('cp', array('ac'=>'thread'))}-->">发表</a></span></p>
            </ul>
        </div>
    </div>
    <!--左侧菜单结束-->
<!--{/if}-->
