<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '首页');$_TPL['mtag'] = 1;}-->
<!--{template header}-->
<link rel="stylesheet" type="text/css" href="{$_USER_SC['domain']}css/qzej.css"/>
<div class="main">
    <div class="content">
        <div class="topd">
            <div class="tx"><a href="#"><img src="$mtag[pic]" width="68" height="68" /></a></div>
            <h1>$mtag[title] —— $mtag[tagname]</h1>
        </div>
        <div class="qxq">
            <div class="lexq">
                <div class="qjj">
                    <div class="jjtx">
                        <p>创建于<!--{eval $tmp = explode(' ', $mtag['createtime']); echo $tmp[0];}-->     组长： $_SN[$mtag_creator['uid']]</p>
                        <p>$mtag[tagname] <br /><!--{if $mtag[announcement]}-->$mtag[announcement]<!--{/if}--></p>
                    </div>
                    <div class="jjcz">
                        <!--{if $mtag[grade]>=8}--><a alt="成员批量管理" href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members"><img src="{$_USER_SC['domain']}images/gltz.gif" /></a><!--{/if}-->
                        <a href="cp.php?ac=share&type=mtag&id=$mtag[tagid]" id="a_share" class="a_share" onclick="ajaxmenu(event, this.id, 1)">分享</a>
                        <!--{if empty($mtag['ismember']) && $mtag['joinperm'] < 2}--><a class="mgt" href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)"><img src="{$_USER_SC['domain']}images/sqjr.gif" /></a><!--{/if}-->
                    </div>
                </div>
                <div class="qzxq">
                    <p class="tzbt">
                        <a<!--{if !$_GET['view']}--> class="dq"<!--{/if}--> href="space.php?do=mtag&tagid=$mtag[tagid]">首页</a><span>|</span>
                        <a<!--{if $_GET['view']=='list'}--> class="dq"<!--{/if}--> href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">讨论区</a><span>|</span>
                        <a<!--{if $_GET['view']=='digest'}--> class="dq"<!--{/if}--> href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest">精华区</a><span>|</span>
                        <!--{if $eventnum}-->
                        <a<!--{if $_GET['view']=='event'}--> class="dq"<!--{/if}--> href="space.php?do=mtag&tagid=$mtag[tagid]&view=event">群组活动</a><span>|</span>
                        <!--{/if}-->
                        <a<!--{if $_GET['view']=='member'}--> class="dq"<!--{/if}--> href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">成员列表</a>
                        <!--{if $mtag['allowthread']}-->
                        <span>|</span><a href="cp.php?ac=thread&tagid=$tagid">发起新话题</a>
                        <!--{/if}-->
                    </p>
                    <div class="qztp">
                        <!--{loop $pics $key $value}-->
                        <a href="space.php?uid=$value['uid']&do=thread&id=$value['tid']"><img src="$value['pic']" width="80" height="80" /></a>
                        <!--{/loop}-->
                    </div>
                    <p class="tzbt">
                    <!--{if $mtag['grade'] >= 8}-->
                        <!--{if $mtag['grade'] == 9}-->
                        <a href="cp.php?ac=event&tagid=$mtag[tagid]">发起活动</a><span>|</span>
                        <!--{/if}-->
                        <a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=base">群组设置</a><span>|</span>
                        <a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members">成员管理</a><span>|</span>
                        <a href="admincp.php?ac=thread&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1" target="_blank">话题管理</a><span>|</span>
                        <a href="admincp.php?ac=post&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1">回帖管理</a><span>|</span>
                    <!--{/if}-->
                        <!--{if $mtag['ismember'] && !$mtag['closeapply']}-->
                        <a href="cp.php?ac=mtag&op=apply&tagid=$mtag[tagid]" id="a_apply" onclick="ajaxmenu(event, this.id)">群主申请</a><span>|</span>
                        <!--{/if}-->
                        <!--{if $mtag['allowinvite']}-->
                        <a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=invite">邀请好友</a><span>|</span>
                        <!--{/if}-->
                        <!--{if $mtag['ismember']}-->
                        <a href="cp.php?ac=mtag&op=out&tagid=$mtag[tagid]" id="a_ignore_top" onclick="ajaxmenu(event, this.id)">退出群组</a>
                        <!--{/if}-->
                    </p>
                    <p class="zjht">最近小组话题……
                     <!--{if $mtag['allowthread']}-->
                    <a href="cp.php?ac=thread&tagid=$mtag[tagid]" alt="发起新话题"><img src="{$_USER_SC['domain']}images/fy.gif" /></a>
                    <!--{/if}-->
                    </p>
                    <!--{if $list}-->
                      <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                              <tr class="flt"><td width="58%">话题</td><td width="20%">作者(回应/阅读)</td><td width="10%">最后回应</td><td width="12%">最后更新</td></tr>
                                <!--{loop $list $key $value}-->
                                  <!--{eval $magicegg = ""}-->                            
                                    <!--{eval if($value[magicegg]) for($i=0; $i<$value[magicegg]; $i++) $magicegg .= '<img src="'.$_USER_SC['domain'].'image/magic/egg/'.mt_rand(1,6).'.gif" />';}-->  
                              <tr>
                                  <td><!--{if $value[displayorder]}--> [顶] <!--{/if}-->
                                    <!--{if $value[digest]}--> [精] <!--{/if}-->
                                    <!--{if $value[eventid]}--> [活] <!--{/if}-->
                                    $magicegg
                                    <a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a></td>
                                  <td><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>($value[replynum]/$value[viewnum])</td>
                                  <td><a href="space.php?uid=$value[lastauthorid]" title="{$_SN[$value[lastauthorid]]}">{$_SN[$value[lastauthorid]]}</a></td>
                                  <td><!--{date('m-d H:i',$value[lastpost],1)}--></td>
                              </tr>
                              <!--{/loop}-->
 
                              <tr class="more"><td colspan="4"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">更多小组讨论</a></td></tr>
                          </tbody>
                      </table>
                    <!--{else}-->
                        <div class="cylb">
                        <!--{if empty($mtag[allowview])}-->
                            本群组目前不是公开状态，只对内部成员开放。
                        <!--{if $mtag['grade'] == -2}-->
                            您的加入申请审核中。请等候。
                        <!--{elseif $mtag[joinperm]==1}-->
                            您可以<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">选择加入该群组</a>，但你的申请需要经群主审核后才有效。
                        <!--{elseif $mtag[joinperm]==2}-->
                            您需要在收到群主的邀请后才能加入该群组。
                        <!--{else}-->
                            您可以立即<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">选择加入该群组</a>。
                        <!--{/if}-->
                        <!--{else}-->
                            还没有话题。
                        <!--{/if}-->
                        </div>
                    <!--{/if}-->
                    <p class="paged">$multi</p>
                    <form name="searchform" id="searchform" method="get" action="space.php?do=mtag&tagid=$mtag[tagid]&view=member">
                        <input type="text" id="key" name="key" value="搜索成员" onfocus="if(this.value=='搜索成员')this.value='';" class="txt" tabindex="1" />
                        <input class="btn" type="submit" name="submit" value="搜索"/>
                        <input type="hidden" name="do" value="mtag">
                        <input type="hidden" name="tagid" value="$mtag[tagid]">
                        <input type="hidden" name="view" value="member">
                        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
                    </form>
                </div>
                
            </div>
            <div class="rixq">
                <div class="ycjj">$mtag['announcement']</div>
                <!--{if $modlist}-->
                <div class="qzcy">
                    <h4>群主</h4>
                    <ul>
                        <!--{loop $modlist $value}-->
                        <li><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],'48x48')}--></a></li>
                        <!--{/loop}-->
                    </ul>
                </div>
                <!--{/if}-->
                <!--{if $checklist}-->
                <div class="qzcy">
                    <h4>有新的待审核成员&nbsp;<a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=-2">立即处理</a></h4>
                    <ul>
                        <!--{loop $checklist $value}-->
                        <li><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],'48x48')}--></a></li>
                        <!--{/loop}-->
                    </ul>
                </div>
                <!--{/if}-->
                <div class="qzcy">
                    <h4>该圈子成员 ($mtag[membernum])</h4>
                    <ul>
                        <!--{loop $memberlist $key $value}-->
                        <!--{if $key <= 9}-->
                        <li><a href="space.php?uid=$value[uid]" title="$_SN[$value['uid']]" ><!--{avatar($value[uid],'48x48')}--></a></li>
                        <!--{/if}-->
                        <!--{/loop}-->
                    </ul>
                </div>
                <div class="tyxh">
                    <h4>喜欢该圈子的成员也喜欢</h4>
                    <ul>
                        <!--{loop $r_mtag $value}-->
                        <li>
                            <dl>
                                <!--{if $value['pic']}-->
                                <dt><img src="$value['pic']" width="100" height="100" /></dt>
                                <!--{else}-->
                                <dt><img src="image/nologo.jpg" width="100" height="100" /></dt>
                                <!--{/if}-->
                                <dd>
                                    <p><a href="space.php?do=mtag&tagid=$value['tagid']">$value['tagname']</a><br /><span>$value['membernum']人喜欢</span></p>
                                </dd>
                            </dl>
                        </li>
                        <!--{/loop}-->
                    </ul>
                </div>
                <div class="xgg">
                    <!--{template data/adtpl/10}-->
                </div>
                <div class="xgg">
                    <!--{template data/adtpl/11}-->
                </div>
                <div class="xgg">
                    <!--{template data/adtpl/12}-->
                </div>
            </div>
        </div>
        <div class="dtx"><img src="$mtag[pic]" width="178" height="184" /></div>
    </div>
<!--{template footer}-->
<!--{template footer}-->




<!--{if 0}-->
<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '首页');}-->
<!--{template header}-->

<h2 class="title">
    <img src="<?=$_USER_SC['domain']?>image/app/mtag.gif"><a href="space.php?do=mtag&id=$mtag[fieldid]">$mtag[title]</a> -
    <a href="space.php?do=mtag&tagid=$mtag[tagid]">$mtag[tagname]</a>
</h2>
<div class="tabs_header">
    <a href="cp.php?ac=share&type=mtag&id=$mtag[tagid]" id="a_share" class="a_share" onclick="ajaxmenu(event, this.id, 1)">分享</a>
    <div class="r_option">
        <!--{if checkperm('managemtag')}-->
        <a href="admincp.php?ac=mtag&tagid=$mtag[tagid]" target="_blank">群组管理</a><span class="pipe">|</span>
        <!--{/if}-->
        <a href="cp.php?ac=common&op=report&idtype=tagid&id=$mtag[tagid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a><span class="pipe">|</span>
    </div>
    <ul class="tabs">
        <li class="active"><a href="javascript:;"><span>首页</span></a></li>
        <li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list"><span>讨论区</span></a></li>
        <li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest"><span>精华区</span></a></li>
        <!--{if $eventnum}-->
        <li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=event"><span>群组活动</span></a></li>
        <!--{/if}-->
        <li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member"><span>成员列表</span></a></li>
        <!--{if $mtag['allowthread']}-->
        <li class="null"><a href="cp.php?ac=thread&tagid=$mtag[tagid]">发起新话题</a></li>
        <!--{/if}-->
        <!--{if empty($mtag['ismember']) && $mtag['joinperm'] < 2}-->
        <li class="null"><a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">加入该群组</a></li>  
        <!--{/if}-->
    </ul>
</div>

<div id="content">

    <div class="affiche">
        <div id="space_avatar" class="floatleft"><img src="$mtag[pic]" alt="$mtag[tagname]" width="48" /></div>
        <h3>公告</h3>
        <div class="article">
            <!--{if $mtag[announcement]}-->$mtag[announcement]<!--{else}-->还没有公告<!--{/if}-->
        </div>
    </div>

    <div class="topic_list">
    <!--{if $list}-->
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td class="subject">主题</td>
                    <td class="author"><!--{if $_GET[view]!='me'}-->作者 <!--{/if}-->(回应/阅读)</td>
                    <td class="lastpost">最后更新</td>
                </tr>
            </thead>
            <tbody>
                <!--{loop $list $key $value}-->
                    <!--{eval $magicegg = ""}-->                            
                    <!--{eval if($value[magicegg]) for($i=0; $i<$value[magicegg]; $i++) $magicegg .= '<img src="'.$_USER_SC['domain'].'image/magic/egg/'.mt_rand(1,6).'.gif" />';}-->
                <tr <!--{if $key%2==1}--> class="alt"<!--{/if}-->>
                    <td class="subject">
                    <!--<div style="width:290px;word-break:break-all;">-->
                    <!--{if $value[displayorder]}--> [顶] <!--{/if}-->
                    <!--{if $value[digest]}--> [精] <!--{/if}-->
                    <!--{if $value[eventid]}--> [活] <!--{/if}-->
                    $magicegg
                    <a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a>
                    <!--{if $value[hot]}-->
                    <br><span class="gray">$value[hot] 人推荐</span>
                    <!--{/if}-->
                    <!--</div>-->
                    </td>
                    <td class="author"><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a><br>$value[replynum]/$value[viewnum]</td>
                    <td class="lastpost"><a href="space.php?uid=$value[lastauthorid]" title="{$_SN[$value[lastauthorid]]}">{$_SN[$value[lastauthorid]]}</a><br><!--{date('m-d H:i',$value[lastpost],1)}--></td>
                </tr>
                <!--{/loop}-->
            </tbody>
        </table>
        <div class="r_option">
        <a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">查看全部话题列表</a>
        </div>
    <!--{else}-->
        <div class="c_form">
        <!--{if empty($mtag[allowview])}-->
            本群组目前不是公开状态，只对内部成员开放。<br>
        <!--{if $mtag['grade'] == -2}-->
            您的加入申请审核中。请等候。
        <!--{elseif $mtag[joinperm]==1}-->
            您可以<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">选择加入该群组</a>，但你的申请需要经群主审核后才有效。
        <!--{elseif $mtag[joinperm]==2}-->
            您需要在收到群主的邀请后才能加入该群组。
        <!--{else}-->
            您可以立即<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">选择加入该群组</a>。
        <!--{/if}-->
        <!--{else}-->
            还没有话题。
        <!--{/if}-->
        </div>
    <!--{/if}-->
    </div>
    
</div>

<div id="sidebar">



    <div class="sidebox">
        <h2 class="title">群组菜单</h2>
        <ul class="menu_list">
            <!--{if $mtag['allowthread']}-->
            <li><a href="cp.php?ac=thread&tagid=$mtag[tagid]">发起话题</a></li>
            <!--{/if}-->
            <!--{if empty($mtag['ismember']) && $mtag['joinperm'] < 2}-->
            <li><a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">加入群组</a></li>  
            <!--{/if}-->
            
            <!--{if $mtag['grade'] == 9}-->
            <li><a href="cp.php?ac=event&tagid=$mtag[tagid]">发起活动</a></li>
            <!--{/if}-->
            <!--{if $mtag['grade'] >= 8}-->
            <li><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=base">群组设置</a></li>
            <!--{/if}-->
            <!--{if $mtag['grade'] >= 8}-->
            <li><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members">成员管理</a></li>
            <li><a href="admincp.php?ac=thread&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1" target="_blank">话题管理</a></li>
            <li><a href="admincp.php?ac=post&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1">回帖管理</a></li>
            <!--{elseif $mtag['ismember'] && !$mtag['closeapply']}-->
            <li><a href="cp.php?ac=mtag&op=apply&tagid=$mtag[tagid]" id="a_apply" onclick="ajaxmenu(event, this.id)">群主申请</a></li>
            <!--{/if}-->
            <!--{if $mtag['allowinvite']}-->
            <li><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=invite">邀请好友</a></li>
            <!--{/if}-->
            <!--{if $mtag['ismember']}-->
            <li><a href="cp.php?ac=mtag&op=out&tagid=$mtag[tagid]" id="a_ignore_top" onclick="ajaxmenu(event, this.id)">退出群组</a></li>
            <!--{/if}-->
        </ul>
    </div>


    <div class="sidebox">
        <h2 class="title">群组概况</h2>
        <div style="padding:0 0 0 40px;">
            <p>成员数：$mtag[membernum]</p>
            <p>话题数：$mtag[threadnum]</p>
            <p>回帖数：$mtag[postnum]</p>
        </div>
    </div>

    <!--{if $modlist}-->
    <div class="sidebox">
        <h2 class="title">
            <span class="r_option"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">全部</a></span>
            群主
        </h2>
        <ul class="avatar_list">
        <!--{loop $modlist $value}-->
            <li>
                <div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
                <p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
            </li>
        <!--{/loop}-->
        </ul>
    </div>
    <!--{/if}-->
<!--{if $checklist}-->
    <div class="sidebox">
        <h2 class="title">
        <span class="r_option"><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=-2">立即处理</a></span>
        有新的待审核成员
        </h2>
        <ul class="avatar_list">
        <!--{loop $checklist $value}-->
            <li>
                <div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
                <p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
            </li>
        <!--{/loop}-->
        </ul>
    </div>
<!--{/if}-->
<!--{if $starlist}-->
    <div class="sidebox">
        <h2 class="title">明星成员</h2>
        <ul class="avatar_list s_clear">
        <!--{loop $starlist $value}-->
            <li>
                <div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
                <p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
            </li>
        <!--{/loop}-->
        </ul>
    </div>
<!--{/if}-->
    <!--{if $memberlist}-->
    <div class="sidebox">
        <h2 class="title">
            <span class="r_option"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">全部($mtag[membernum])</a></span>
            普通成员
        </h2>
        <ul class="avatar_list">
        <!--{loop $memberlist $value}-->
            <li>
                <div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
                <p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p></li>
        <!--{/loop}-->
        </ul>
    </div>
    <!--{/if}-->

</div>

<!--{template footer}-->
<!--{/if}-->
