@charset "utf-8";
/* CSS Document */

.ck,.nr ul{ overflow:hidden; zoom:1;}
.heder{ height:154px; width:100%; background:url(http://s.gopo.com/images/hebg.gif) repeat-x 0 0;}
.henr{ width:950px; margin:0 auto; position:relative;}
.logo{ position:absolute; left:0; top:45px;}
a{ color:#000;}
.menu{ background:url(http://s.gopo.com/images/imenu.png) no-repeat 0 0; width:491px; height:30px; position:absolute; left:460px; top:60px; padding-top:5px; padding-left:15px;}
.menu ul li{ width:93px; height:28px; float:left; margin-left:18px;}
.mime{ background:url(http://s.gopo.com/images/mimen.png) no-repeat 0 0; width:344px; height:26px; position:absolute; left:550px; top:95px;}
.mime ul li{ font-size:12px;font-family:"微软雅黑","宋体"; float:left; margin-left:50px; display:inline;}
.mime ul li a{ color:#FFF;}


#container{ margin-top:10px;}
.ks-waterfall,.as{
        position: absolute;
        width: 223px;
        overflow: hidden;
        margin-bottom: 20px;
        text-align: center;
    }
	img{ border:none;}
	.tb,.db{ background:url(http://s.gopo.com/images/topbgh.gif) no-repeat 0 0; width:223px; height:5px; font-size:0;}
	.db{ background:url(http://s.gopo.com/images/bmbgh.gif) no-repeat 0 0;}
	.nr{ background:url(http://s.gopo.com/images/repexh.gif) repeat-y 0 0; padding:7px 14px; background-color:#333;}
	.ck{ background:url(http://s.gopo.com/images/btim.png) no-repeat  0 0; width:195px; height:21px; line-height:21px; color:#FFF; position:absolute; top:12px; left:14px; display:none; font-family:Arial;}
	.ck b{ width:80px; float:left;  padding-left:20px; font-weight:normal;}
	.ck span{ width:85px; float:right; text-align:right;padding-right:5px;}
	.nr p a{ color:#000; }
	.nr p{ color:#a0a4a5;text-align:left;}
	.as .ck{ display:block;}
	.as .tb{background:url(http://s.gopo.com/images/topbg.gif) no-repeat 0 0;}
	.as .db{background:url(http://s.gopo.com/images/bmbg.gif) no-repeat 0 0;}
	.as .nr{ background:url(http://s.gopo.com/images/repex.gif) repeat-y 0 0; }
.nr h3{ background:url(http://s.gopo.com/images/rmbq.gif) no-repeat 0 0; height:39px; text-indent:-9999px;}
.nr ul{ text-align:left;}
.nr ul li{ background:url(http://s.gopo.com/images/jtbg.gif) no-repeat 0 0; width:33px; height:24px; text-align:center; margin-left:10px; float:left; display:inline; margin-bottom:8px;}
.nr ul li a{ color:#FFF;}