@charset "utf-8";
/* CSS Document */



/*右侧内容*/
.ricz{ width:781px; float:right;font-family:"微软雅黑","宋体";}
.xrz{ background:url(http://s.gopo.com/images/xrz.png) no-repeat 0 0; padding-left:120px; height:36px; line-height:32px; font-weight:bold; margin-bottom:5px;}
.rzbj{ border:1px solid #ababab; background-color:#FFF; padding:3px;}
.lebj{ width:542px; float:left;}
.bt{ height:26px; padding-left:5px; border:1px solid #949693; width:535px; line-height:26px; font-size:14px;}
textarea{ border:1px solid #6d6d6d; width:530px; padding:5px; height:300px;}
.hs{ color:#999;}
.yzm{ width:60px; height:20px; line-height:20px;border:1px solid #949693; margin-right:10px;}
.cg,.fb{ background:url(http://s.gopo.com/images/cwcg.gif) no-repeat 0 0; width:59px; height:24px; cursor:pointer; border:none; margin-right:15px;}
.an{ margin-top:30px;}
.fb{ background:url(http://s.gopo.com/images/qdbd.gif) no-repeat 0 0;}

.riczd{ float:right; width:217px; padding-top:20px;}
.riczd a{ color:#636363;}
.rzzt{ font-size:12px; border-bottom:1px dotted #CCC; margin-bottom:8px; }
.rzfl{ background-color:#e7e7e7;padding-left:8px; margin-bottom:8px; padding-bottom:8px;}
p.jfl{ background:url(http://s.gopo.com/images/jxf.gif) no-repeat 0 5px; padding-left:18px;}
.txtd{ margin-right:5px;width:100px; height:22px; border:1px solid #7b9cbd;}
.ma{ background:url(http://s.gopo.com/images/llm.gif) no-repeat right 2px; padding-right:12px;}
a.ma{color:#7bbd18; text-decoration:underline; }