@charset "utf-8";
/* CSS Document */


/*右侧内容*/
.ricz{ width:781px; float:right;}
.tp{ background:url(http://s.gopo.com/images/tp.png) no-repeat 0 0; padding-left:120px;  line-height:32px;margin-bottom:5px; height:32px;}
.tpnr{ width:779px; border:1px solid #a6a6a6; background-color:#FFF; padding:15px; font-family:Arial;}
.txt,.sj{ width:419px; height:22px; border:1px solid #dedede; line-height:22px; padding-left:5px;}
.tpnr ul{ width:560px;}
.tpnr ul li{ margin-bottom:15px;}
.tpnr ul li span{ width:80px; float:left; text-align:right; margin-right:20px; color:#9c9c9c; font-family:Arial; display:block;}
.tpnr ul li b{ float:left; width:426px; font-weight:normal;}
.sj{ width:100px;}
.fqtp{ background:url(http://s.gopo.com/images/toup.gif) no-repeat 0 0; width:59px; height:24px; border:none;}
.bm{ border-bottom:1px solid #CCC; padding-bottom:10px;}

p.lx{ border-bottom:1px dashed #CCC; width:700px; margin-bottom:10px;}
p.lx a.dqd{ font-weight:bold;}
p.lx span{ margin:0 5px;}
.dgtp{ width:700px; border-bottom:1px dashed #b3b3b3; padding-bottom:5px; margin-bottom:10px;}
.tptx{ width:54px; float:left; margin-right:20px;}
.tpxq{ width:400px; float:left;}
p.jf{ background:url(http://s.gopo.com/images/jf.gif) no-repeat 0 6px; padding-left:20px; font-size:14px;}
p.jf span{ font-weight:bold; margin-left:15px;}
.tprs{ width:76px; float:right; text-align:center;}
.tps{  padding:15px 0;text-align:center;color:#fff; font-weight:bold; margin-bottom:5px; width:76px; height:40px; background-color:#a0a0a0; font-size:16px;}

.page{ height:24px; text-align:center; font-family:Arial; padding-top:30px;}
.page a,.page span{ margin-right:10px;}
span.dqa{ font-weight:bold; color:#df4a47;}