@charset "utf-8";
/* CSS Document */



/*中间内容*/
.mixq{ width:564px; float:left; margin-left:5px;}
.zrxq{ width:532px; height:99px; border:1px solid #a0a0a0; background-color:#FFF; padding:15px; margin-bottom:5px;}
.zrtx{ width:100px; height:100px; float:left; margin-right:15px;}
.zrjj{ width:400px; float:left; line-height:20px;}
p.mzd{ margin-bottom:40px;}
p.mzd b{ font-size:14px; margin-right:10px;}
p.mzd span a{ margin-left:10px; color:#909090;}
p.qtlj span{ margin:0 5px;}
.gg{ margin-bottom:5px;}
.yd{ width:562px; height:70px;border:1px solid #a0a0a0; background-color:#FFF; text-align:center; font-size:14px; margin-bottom:5px;}

.dtfl ul li{ float:left;}
.sdd01 a.o,.sdd02 a.o,.sdd01 a.f,.sdd02 a.f,.sdd01 a.t,.sdd02 a.t,.sdd01 a.s,.sdd02 a.s{text-indent:-9999px; display:block; float:left;}
.sdd01 a.o{ background:url(../images/hydt.png) no-repeat 0 0; width:144px; height:24px;}
.sdd02 a.o{ background:url(../images/hydth.gif) no-repeat 0 0; width:144px; height:24px;}
.sdd01 a.f{ background:url(../images/qzdt.png) no-repeat 0 0; width:139px; height:24px;}
.sdd02 a.f{ background:url(../images/qzdth.png) no-repeat 0 0; width:139px; height:24px;}
.sdd01 a.t{ background:url(../images/wddt.png) no-repeat 0 0; width:141px; height:24px;}
.sdd02 a.t{ background:url(../images/wddth.png) no-repeat 0 0; width:141px; height:24px;}
.sdd01 a.s{ background:url(../images/jxtp.png) no-repeat 0 0; width:140px; height:24px;}
.sdd02 a.s{ background:url(../images/jxtph.png) no-repeat 0 0; width:140px; height:24px;}

.hydnr{width:522px; height:402px;border:1px solid #a0a0a0; background-color:#FFF; line-height:20px; padding:20px; position:relative;}
.hydnr p{ text-indent:24px;}
.hydnr p.ntx{ text-indent:0;}
.hydnr a.mdt{ position:absolute; right:10px; bottom:10px;}

/*右侧内容*/
.ricz{ width:212px; float:right;}
.hffld ul li{ float:left;}
.sd01 a.o,.sd02 a.o,.sd01 a.t,.sd02 a.t{text-indent:-9999px; display:block; float:left; width:106px; height:24px; float:left;}
.sd01 a.o{ background:url(../images/slk.png) no-repeat 0 0;}
.sd02 a.o{ background:url(../images/skgh.png) no-repeat 0 0;}
.sd01 a.t{ background:url(../images/wqk.png) no-repeat 0 0;}
.sd02 a.t{ background:url(../images/wqkh.png) no-repeat 0 0;}
.hfnr,.cynr{ width:195px; height:174px;border:1px solid #a0a0a0; background-color:#FFF; padding-left:15px; padding-top:10px; margin-bottom:5px;}
.hfnr ul li,.cynr ul li{ width:48px; float:left; text-align:center; color:#909090; margin-right:18px; line-height:20px;}
.hfnr ul li.nm,.cynr ul li.nm{ margin-right:0;}

.xcy h4,.zjhd h4,.ksdw h4{ background:url(../images/xcy.png) no-repeat 0 0; width:212px; height:24px; text-indent:-9999px;}
.cynr{ height:111px;}

.zjlf h4{ background:url(../images/zjlf.png) no-repeat 0 0;}
.zjhd h4{ background:url(../images/hdrw.png) no-repeat 0 0;}
.hdnr{border:1px solid #a0a0a0; background-color:#FFF; width:200px; height:109px; margin-bottom:5px; padding-left:10px; padding-top:5px;}
.dghd{ background:url(../images/jmbg.gif) no-repeat 0 0; width:160px; height:46px; color:#FFF; line-height:23px; padding-left:30px; margin-bottom:8px;}
.dghd p a{ font-size:14px; color:#FFF;}
.ksdw h4{ background:url(../images/ksdw.png) no-repeat 0 0;}
.cznr{ width:200px; height:56px;border:1px solid #a0a0a0; background-color:#FFF; padding:10px 0 0 10px; }
.txt{ width:139px; padding-left:5px; height:23px; border:1px solid #a0a0a0; background-color:#e9e9e9; margin-right:10px;}
.btn{ background:url(../images/zr.gif) no-repeat 0 0; width:34px; height:24px; border:none;}

.hidden{ display:none;}