@charset "utf-8";
/* CSS Document */


/*右侧内容*/
.ricz{ width:781px; float:right;}
.tp{ background:url(../images/tp.png) no-repeat 0 0; padding-left:120px;  line-height:32px;margin-bottom:5px; height:32px;}
.tpnr{ width:779px; border:1px solid #a6a6a6; background-color:#FFF; padding:30px;}
.txt,.sj{ width:419px; height:22px; border:1px solid #dedede; line-height:22px; padding-left:5px;}
.tpnr ul{ width:560px;}
.tpnr ul li{ margin-bottom:15px;}
.tpnr ul li span{ width:80px; float:left; text-align:right; margin-right:20px; color:#9c9c9c; font-family:Arial; display:block;}
.tpnr ul li b{ float:left; width:426px; font-weight:normal;}
.sj{ width:100px;}
.fqtp{ background:url(../images/toup.gif) no-repeat 0 0; width:59px; height:24px; border:none;}
.bm{ border-bottom:1px solid #CCC; padding-bottom:10px;}