<!--{eval $_TPL['titles'] = array('礼物');}-->
<!--{template sns_header}-->
<link rel="stylesheet" type="text/css" href="<?=$_USER_SC['domain']?>css/lw.css"/>
        <div class="ricz">
        	<div class="tp">
                <p class="xlj">当前积分：$space[credit]<b>积分</b></p>
            </div>
            <div class="lwfl">
            	<ul>
                    <li<!--{if $op=="me"}--> class="sdd01"<!--{else}--> class="sdd02"<!--{/if}--> id="zs02"><a class="t" href="<?=usr_url('gift', array('do'=>'view', 'op'=>'me'))?>">我的礼物记录</a></li>
                    <li<!--{if $op=="friend"}--> class="sdd01"<!--{else}--> class="sdd02"<!--{/if}--> class="sdd02" id="zs03"><a class="f" href="<?=usr_url('gift', array('do'=>'view', 'op'=>'friend'))?>">朋友的礼物纪录</a></li>
                    <li class="sdd02" id="zs04"><a class="s" href="<?=usr_url('gift')?>">送礼物</a></li>
                </ul>
            </div>
            <div class="lwnr">
            	<div id="to01">
					<div class="lwxq">
                <!--{if $list}-->
                    <!--{loop $list $val}-->
                        <div class="lwtp">
                            <img src="<?=$_USER_SC['domain']?>images/gift{$val['gift']}" onmouseover="promptdiv(this);" onmouseout="hiddenprompt(this);" onmousemove="moveel(event);" />
                            <input type="hidden" value="{$glist[$val['gift']]['name']}" name="name" />
                            <input type="hidden" value="{$glist[$val['gift']]['summary']}" name="summary" />
                        </div>
                        <div class="lwtx">
                            <p><!--{if $val['uid'] == 0}-->某人悄悄的
                            <!--{else}-->
                                <!--{if $op=="friend"}-->
                                我 
                                <!--{elseif $op="me"}-->
                            <a href="<!--{eval echo usr_url('space', array('uid'=>$val['uid']))}-->">$val['username']</a>&nbsp;&nbsp;
                            <!--{/if}-->
                            在<span><!--{date('m-d H:i',$val[dateline],0)}--></span> 
                                <!--{if $op=="friend"}-->
                                送给&nbsp;<a href="<!--{eval echo usr_url('space', array('uid'=>$val['touid']))}-->">$val['tousername']</a>&nbsp;的
                                <!--{elseif $op="me"}-->
                                送给您的
                            <!--{/if}-->
                            <span>{$glist[$val['gift']]['name']}</span></p>
                                <!--{if $op=="friend"}-->
							<p>我对他说：</p>
                                <!--{elseif $op="me"}-->
							<p>他对您说：</p>
                            <!--{/if}-->
                            <!--{if $val['message'] != ''}-->
                            <p>{$val['message']}</p>
                            <!--{else}-->
                            <p>都在礼物里啦！啥都甭说了……来而不往非礼也！这事你看着办吧！</p>
                            <!--{/if}-->
                            <p>
                            <!--{if $op=="me"}-->
                            <!--{if $val['uid'] != 0}--><a href="<!--{eval echo usr_url('space', array('uid'=>$val['uid']))}-->">回赠礼物</a><!--{/if}-->　
                            <a href="<!--{eval echo usr_url('cp', array('ac'=>'pm', 'uid'=>$val['uid']))}-->" id="a_pm" onclick="ajaxmenu(event, this.id, 99999, '', -1)">发送消息</a>
                            <!--{else}-->
                            <a href="<!--{eval echo usr_url('cp', array('ac'=>'pm', 'uid'=>$val['touid']))}-->" id="a_pm" onclick="ajaxmenu(event, this.id, 99999, '', -1)">发送消息</a>
                            <!--{/if}-->
                            </p>
                        </div>
                    <!--{/loop}-->
                <!--{else}-->
                    <!--{if $op=="friend"}-->
                        您还未送过礼物。<a href="gift.php">赶快给心仪得TA送礼物吧</a>
                    <!--{else}-->
                        您暂时没有收到礼物。
                    <!--{/if}-->
                <!--{/if}-->
                    </div>
                </div>
            </div>
        </div>
<!--{template sns_footer}-->


<!--{if 0}-->
<!--{eval $_TPL['titles'] = array('礼物');}-->
<!--{template header}-->
<div class="c_header a_header">
	<div class="avatar48"><a href="/space/uid/$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a></div>
	<h1>给朋友礼物</h1>
	<span class="spacelink">礼物</span>
</div>
<div class="tabs_header">
	<ul class="tabs">
		<li<!--{$actives[index]}-->><a href="/gift"><span>礼物赠送</span></a></li>
		<li<!--{$actives[view]}-->><a href="/gift/do/view"><span>收到礼物</span></a></li>
	</ul>
</div>
<div class="gift_row">
	<ul>
		<!--{if $list}-->
			<!--{loop $list $val}-->
			<li>
				<h3><!--{if $val['uid'] == 0}-->某人悄悄的<!--{else}--><a href="/space/uid/{$val['uid']}">$val['username']</a>&nbsp;&nbsp;<!--{/if}--> 送给您礼物</h3>
				<img src="/gift/gift_model/image/{$val['gift']}" onmouseover="promptdiv(this);" onmouseout="hiddenprompt(this);" onmousemove="moveel(event);">
				<input type="hidden" value="{$glist[$val['gift']]['name']}" name="name" />
				<input type="hidden" value="{$glist[$val['gift']]['summary']}" name="summary" />
				<h4>{$glist[$val['gift']]['name']}</h4>
				<p class="gift_text1"><!--{date('m-d H:i',$val[dateline],1)}--></p>
				<p style="text-align: center; padding-top: 30px;">
				<!--{if $val['uid'] != 0}--><a href="/gift/uid/{$val['uid']}">回赠礼物</a><!--{/if}-->　
				<a href="/cp/ac/pm/uid/$val['uid']" id="a_pm" onclick="ajaxmenu(event, this.id, 99999, '', -1)">发送消息</a>
				<div class="clear"></div>
			<!--{if $val['message'] != ''}-->
				<p style="background: #f5f5f5; padding: 3px; color: #666; height: 67px;">{$val['message']}</p>
			<!--{else}-->
				<p style="background: #f5f5f5; padding: 3px; color: #666; height: 67px;">都在礼物里啦！啥都甭说了……来而不往非礼也！这事你看着办吧！</p>
			<!--{/if}-->
			</li>
			<!--{/loop}-->
		<!--{else}-->
			<li>
			您暂时没有收到礼物。
			</li>
		<!--{/if}-->
	</ul>
	<div style="clear:both;"></div>
	<div class="page">$multi</div>
</div>
<!--{template footer}-->
<!--{/if}-->
